* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background-color: grey;
}


header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 1rem;
  background-color: white;
  justify-content: space-between;


}



header nav a {
  text-decoration: none;
  margin-right: 10px;
  color: black;
  font-size: 0.90rem;
  padding: 0 1rem;

}

header img {
  height: 60px;
  width: auto;
  margin-left: 10rem;



}

img {
  width: 50px;
}