* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white(236, 208, 208);
}

a {
  text-decoration: none;
  color: black;

}

/* Header */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header img {
  width: 80px;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  font-size: 15px;
}

.nav-link {
  color: rgb(59, 109, 217);
  border-bottom: 3px solid rgb(59, 109, 217);
}

/* main */

/* main p {
  color: white;
  font-size: 1.5rem;
  background-color: black;
  padding: 4rem 20rem;

} */


main div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(59, 109, 217);
  padding: 1.5rem;
  gap: 16px;
  cursor: pointer;
}

main img {
  max-width: 42px;

}

.info {
  color: white;
  font-size: 10px;
}


.jumbotron {

  height: 300px;
  min-width: 100%;

}

main section {
  position: relative;
  background-color: black;
}

.series {
  position: absolute;
  color: white;
  padding: 10px 15px;
  left: 10rem;
  top: 17.5rem;
}



.imgSeries {
  background-color: black;
  flex-wrap: wrap;
  padding: 4rem 2.5rem;
}

.imgSeries div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% / 6 - 30px);
  background-color: transparent;

}

.imgSeries img {
  max-width: 100%;
}

.imgSeries h4 {

  color: white;
  display: flex;
  text-transform: uppercase;
  font-size: 0.6rem;
}


.btnMore {
  margin: 1.5rem;
  margin-left: 42.5rem;
  background-color: rgb(59, 109, 217);
  cursor: pointer;
  padding: 0.50rem 1.5rem;
}

/* footer */

footer {
  background-image: url('../dc-comics-1/img/footer-bg.jpg');
}

footer .list {
  display: flex;
  padding-left: 9rem;


}

ul {
  margin-bottom: 2rem;
  padding: 2rem;
  list-style: none;
  color: white;
}

li {
  line-height: 1.9;
}

li h2 {
  padding: 5px;
  margin-left: -4px;

}

ul a {
  color: white;


}

.shop {
  margin-left: -2.5rem;

}

.btn {
  display: flex;
  justify-content: space-between;
  padding: 3rem 12%;
  background-color: rgb(56, 55, 55);


}

button {
  background-color: transparent;
  border: 3px solid rgb(59, 109, 217);
  color: white;
  padding: 2px 20px;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;


}

.social {
  display: flex;
  align-items: center;

}

.social h3 {
  color: rgb(59, 109, 217);
  font-family: Arial, Helvetica, sans-serif;
}

.social img {
  margin-left: 1.2rem;

}